body{
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
	background:#fff;
	font-size: 15px;
}

div, header, section, h1, p, a, img, footer, input, form {
	box-sizing: border-box;
}

.container {
	width: 1170px; 
	margin: 0 auto; 
}

header {
	background: linear-gradient(to right, rgba(77,189,254,1) 0%, rgba(62,159,229,1) 100%);
	color: #fff;
	padding-top: 70px;
	
}

.wrapper  {
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}

.offer {
	width: 480px;
}

.offer p {
	width: 400px;
}

h1 {
	font-family: 'Ubuntu';
	font-size: 37px;
	font-weight: 700;
	width: 600px;
	
}

span {
	font-size: 59px;
	line-height: 1.4em;
}
.offer p {
	font-size: 16px;
}

.info a {
	padding-top: 18px;
}

.btn {
	text-decoration: none;
	color:#000;
	background: #ffd429;
	width: 220px;
	height: 55px;
	font-family: 'Montserrat';
	display: block;
	text-align: center;
	transition:all 0.5s easy;
	padding-top: 14px;
}

.btn:hover {
	background:#f0d879;
}
h2 {
	font-family: 'Ubuntu';
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
	font-weight: 700;
	color:#201b2d;
}

h3 {
	font-family: 'Ubuntu';
	font-weight: 700;
	font-size: 19px;
}

.container1 {
	background: url(img/icon1.jpeg) no-repeat top;
	color:#201b2d;
	text-align: center;
	width: 310px;
	padding-top: 60px;
}

.container1 p {
	font-family: 'Ubuntu';
	font-weight: 400;
}

.containers{
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

.travel {
	background: url(img/icon2.jpeg) no-repeat top;
}

.value {
	background: url(img/icon3.jpeg) no-repeat top;
}
 .forms {
	background: #ecf3f8;
	display: flex;
	flex-direction: column;
	padding-bottom: 70px;
	align-items: center;
	}

.forms form{
	
	padding-top: 30px;
	display:flex; 
	flex-direction: column; 
	align-items: center;
}

input {
	width: 340px;
	height: 45px;
	color:#abaaae;
	padding-left: 20px;
	font-family: 'Ubuntu';
	font-weight: 400;
	margin-bottom: 15px;
}

footer {
	background:#164d7a;
	text-align: center;
	color:#6f88a3;
	padding: 30px 0;

}
button {
	margin: 0 auto;
	cursor:pointer;
}
.btn1 {
	width: 340px;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.desktop {
		width: 550px;
	}

	h1 {
		width: auto;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}

	.desktop {
		display: block;
		width: 100%;
	}

	.offer {
		width: 100%;
		margin-top: 100px;
	}

	.offer p {
		width: auto;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.containers {
		flex-direction: column;
		align-items: center;
	}

	input {
		width: 100%;
	}
	.btn {
	    width: 100%;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}